<style>
    .width-permiso {
        font-size: 9px;
    }

    html,
    body {
        margin: 0;
        padding: 0;
        font-family: 'Sackers Gothic Std';
        font-weight: 500;
        font-size: 14px;
        -webkit-print-color-adjust: exact;
    }

    @media print {
        .page {
            margin: 0;
            height: 100%;
            width: 100%;
        }
    }

    .page.first {
        border-left: 5px solid green;
    }

    .group {
        margin-top: 3mm;
    }

    .text-center {
        text-align: center;
    }

    .logo {
        position: relative;
        width: 80%;
        left: 10%;
        top: 15%;
    }



    ul.no-bullets {
        list-style-type: none;
    }

    #pageHeader {
        display: -webkit-flex;
        -webkit-flex-direction: row;
        -webkit-flex: 1;
    }
    #firmas {
        display: -webkit-flex;
        -webkit-flex-direction: row;
        -webkit-flex: 1; 
    }

</style>

<html>

<head>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
</head>

<body>
    <div id="contentToConvert" class="container con mb-6" style="text-align: justify;">
        <!-- PRIMERA PAGINA -->
        <div>
            <div class="row">
                <div class="col-md-12 text-center mt-1">
                    <strong>
                        <u>
                            CONTRATO DE PRESTACIÓN DE SERVICIOS DE CONSULTORÍA INDIVIDUAL DE
                            LÍNEA
                        </u>
                    </strong>
                </div>
                <div class="col-md-12 mt-4">
                    Conste por el presente Contrato Administrativo de Prestación de Servicios de Consultoría
                    Individual
                    de Línea ,
                    que celebran el Instituto Nacional de Estadística, con NIT Nº 1001751025, con domicilio en Calle
                    José
                    Carrasco Nº 1391, Zona Miraflores de la ciudad de La Paz, legalmente representado por HUMBERTO
                    MARIO
                    ARANDIA CLAURE, con Cédula de Identidad N° 4754840 La Paz, Director General Ejecutivo, designado
                    mediante Resolución Suprema Nº 27237 de 19 de noviembre de 2020, que en adelante se denominará
                    LA
                    ENTIDAD o EL CONTRATANTE y de la otra parte el/la Sr.(a) <%= nombres %>
                        <%= apellido_paterno %>
                            <%= apellido_materno %> con Cédula de
                                Identidad
                                Nº <%= numero_documento %>
                                    <%= extension_documento %>. con domicilio en la ciudad de <%= ciudad %>,
                                            que en adelante se denominará el/la CONSULTOR
                                            (A),
                                            quienes celebran y suscriben el presente contrato administrativo de acuerdo
                                            a los términos y
                                            condiciones
                                            siguientes:
                </div>
            </div> <br />
            <div class="row">
                <strong> <u>PRIMERA: ANTECEDENTES.-</u> </strong><br /><br />
                <div class="col-md-12">
                    La Unidad solicitante con el visto bueno de la <%= detalle %> del INE, adjuntando los
                        Términos de
                        Referencia
                        Form.
                        INE/DAS/USA/01, mediante Formulario Único de Contratación FUC Form. INE/DAS/USA/02, solicitó al
                        RPA
                        del INE, la contratación de (1) CONSULTOR INDIVIDUAL DE LÍNEA, para prestar servicios como
                        <%= cargo %> - <%= objeto_contratacion %> ,
                                adjuntando Certificación Presupuestaria correspondiente. <br /><br />
                                La Unidad de Recursos Humanos del INE, en el formulario INE/DAS/USA/02 establece que
                                el/la
                                CONSULTOR (A), cumple con todos los requisitos solicitados para su
                                contratación.<br /><br />
                                En este marco, el Instituto Nacional de Estadística, mediante la modalidad contratación
                                menor,
                                prevista en las
                                NB-SABS aprobadas por D.S. 0181 y sus modificaciones, por medio de nota con Cite: <%=
                                    cite %>,
                                    adjudicó
                                    la
                                    contratación a <%= nombres %>
                                        <%= apellido_paterno %>
                                            <%= apellido_materno %> para
                                                prestar servicios como Consultor Individual de Línea
                                                en calidad de
                                                <%= cargo %> - <%= objeto_contratacion %>
                                                        <br /><br />
                </div>
            </div>
            <div class="row">
                <strong><u>SEGUNDA: LEGISLACIÓN APLICABLE.-</u></strong><br /><br />
                <div class="col-md-12">
                    El presente contrato se rige por las disposiciones contenidas en: <br>
                    <div style="margin-left: 15px;">
                        - Constitución Política del Estado.<br>
                        - Ley No. 1178 de 20 de julio de 1990, de Administración y Control Gubernamentales.<br>
                        - Decreto Supremo Nº 0181 de 28 de junio de 2009, de las Normas Básicas del Sistema de
                        Administración de Bienes y Servicios NB-SABS, modificado por Decretos Supremos Nº 0956, Nº
                        1497 y Nº 1783.<br>
                        - Ley del Presupuesto General del Estado, aprobada para la gestión.<br>
                        - Ley Nº 2341 de 23 de abril de 2002, de Procedimiento Administrativo.<br>
                        - Decreto Supremo Nº 27113 de 23 de julio de 2003, Reglamento a la Ley Nº 2341, de
                        Procedimiento Administrativo.<br>
                        - Demás disposiciones relacionadas directamente con las normas anteriormente
                        mencionadas.<br>
                    </div>
                    <br /><br />
                </div>
            </div>
            <div class="row">
                <strong><u>TERCERA: OBJETO Y CAUSA.-
                    </u></strong><br /><br />
                <div class="col-md-12">
                    Es la prestación del servicio consistente en: trabajar, que en adelante se denominará la
                    consultoría, provista
                    por el/la CONSULTOR (A) de conformidad con los Términos de Referencia establecidos por la
                    entidad,
                    que
                    el/la CONSULTOR (A) expresamente manifiesta conocer, con estricta y absoluta sujeción a este
                    contrato.
                    <br /><br />
                </div>
            </div>
            <div class="row">
                <strong><u>CUARTA: OBLIGACIONES DE LAS PARTES.-
                    </u></strong><br /><br />
            </div>

        </div>
        <!-- FIN PRIMERA PAGINA -->
        <!-- SEGUNDA PAGINA -->
        <div class="row">
            <strong> <u>4.1. OBLIGACIONES DEL CONSULTOR
                </u> </strong><br /><br />
            <div class="col-md-12">
                El/la CONSULTOR (A) se compromete y obliga a efectuar el trabajo objeto del presente contrato, de
                acuerdo
                a los Términos de Referencia, características, plazo y lugar señalados en los mismos así como a las
                cláusulas
                y condiciones del presente CONTRATO, cumpliendo las siguientes obligaciones: <br><br>
                1. Cumplir cada una de las cláusulas del presente contrato.<br>
                2. Realizar la prestación del servicio con la mayor responsabilidad, en forma eficiente, oportuna,
                con el mayor<br>
                cuidado, confidencialidad y discreción posibles, observando estrictamente las cláusulas previstas en
                el
                presente contrato, los Términos de Referencia acordados, así como lo dispuesto en los Reglamentos
                Internos
                de la Entidad en lo que corresponda, cumpliendo con los planes y programas, informando sobre el
                avance y
                resultados.<br>
                3. Asistir a toda actividad que esté relacionada con el cumplimiento de sus actividades.<br>
                4. Presentar en cualquier momento durante la vigencia del contrato, originales y/o fotocopias
                legalizadas de
                los documentos detallados en la hoja de vida presentada.<br>
                5. Presentar los siguientes informes: Informes Mensuales e Informe Final.<br>
                6. Preservar y custodiar los materiales, equipos y soportes, documentación activa y pasiva que les
                sean
                entregados, debiendo ser devueltos en las mismas condiciones, salvo por el deterioro de uso
                común.<br>
                7. Asistir al o los eventos de capacitación programados en el Plan Anual de Capacitación
                Institucional y otros
                que considere pertinente el CONSULTOR.<br>
                8. Firmar y colocar sus iníciales en todo trabajo que realice para fines de identificación.<br>
                9. Presentar informes de viaje con el descargo correspondiente en forma oportuna de acuerdo al
                Manual de
                Procedimientos para la Asignación de Pasajes y Viáticos de la institución.<br>
                10. En caso de conclusión del contrato y/o resolución del mismo, hacer entrega a la Unidad de
                Activos Fijos,
                bajo inventario, de todo el material y equipo de trabajo que se le haya asignado, previa
                presentación de
                informe con visto bueno del supervisor y devolver la credencial de identificación personal, en las
                mismas
                condiciones en las que la recibió.
                <br /><br />
            </div>
        </div>
        <div class="row">
            <strong><u>4.2.OBLIGACIONES DE LA ENTIDAD</u></strong><br /><br>
            <div class="col-md-12">
                1. Cumplir cada una de las cláusulas del presente contrato. <br>
                2. Apoyar la Consultoría proporcionando la información necesaria, apoyo logístico referente a
                condiciones de
                trabajo e insumos.<br>
                3. Dar conformidad al servicio de CONSULTORÍA, en un plazo no mayor de 5 días hábiles computables a
                partir de la recepción del informe.<br>
                4. Realizar el pago de la CONSULTORÍA en un plazo no mayor de 10 días hábiles computables a partir
                de la
                emisión de la conformidad en su favor.<br>
                5. En caso de que el/la CONSULTOR (A) como parte de sus funciones, deba desplazarse a otras ciudades
                que no sean la sede de su trabajo, el CONTRATANTE le reconocerá el costo de los pasajes y viáticos
                en las
                tarifas que oficialmente aplica, de acuerdo al Manual de Procedimientos para la Asignación de
                Pasajes y
                Viáticos de la entidad.<br>
                6. Acreditar la función y representatividad el/la CONSULTOR (A), con el fin de facilitar su trabajo
                y el acceso a
                información que estuviere en poder de otras entidades del sector público y privado.<br>
                7. Otorgar hasta ocho horas mensuales para licencias/permisos, mismos que podrán ser utilizadas en
                forma
                discontinua usando como mínimo una hora, previa autorización firmada por el SUPERVISOR del servicio
                y la
                entrega de la papeleta a Recursos Humanos.<br>
                8. Conceder medio día en el día de su aniversario natal, solo cuando esta fecha coincida con un día
                hábil
                laborable que no podrá postergarse ni adelantarse.<br>
                9. Otorgar estipendio de refrigerio de acuerdo al Manual de Procedimientos de Pago de Refrigerios de
                la
                entidad.
            </div>
        </div><br />
        <!-- FIN SEGUNDA PAGINA -->
        <!--  TERCERA PAGINA -->
        <div class="row">
            <strong><u>QUINTA: DOCUMENTOS INTEGRANTES DEL CONTRATO.-
                </u></strong><br /><br>
            <div class="col-md-12">
                Para el cumplimiento del presente contrato, son parte integrante del mismo los siguientes
                documentos: <br> <br>
                1. Documento Base de Contratación y/o Términos de Referencia (Formulario INE/DAS/USA-01)<br>
                2. Formulario Único de Contratación (Formulario INE/DAS/USA-02).<br>
                3. Documento oficial de comunicación de adjudicación (Formulario INE/DAS/USA-04).<br>
                4. Nota de Aceptación y Declaración Jurada (Formulario INE/DAS/USA-05).<br>
                5. Certificado REJAP<br>
                6. Certificado RUPE (Cuando corresponda)<br>
                7. Certificado de no violencia<br>
                <br />
            </div>
        </div>
        <div class="row">
            <strong><u>SEXTA: VIGENCIA DEL CONTRATO.-
                </u></strong><br /><br>
            <div class="col-md-12">
                El contrato entrará en VIGENCIA desde su suscripción, hasta que ambas partes hayan dado cumplimiento
                a
                todas las clausulas contenidas en el presente Contrato.
                <br /><br />
            </div>
        </div>
        <div class="row">
            <strong><u>SÉPTIMA: PLAZO DE PRESTACIÓN DEL SERVICIO.-
                </u></strong><br /><br>
            <div class="col-md-12">
                El PLAZO de la prestación del servicio de consultoría, es <%= diaMes %>, sin lugar a tácita
                    reconducción.
                    <br /><br />
            </div>
        </div>
        <div class="row">
            <strong><u>OCTAVA: LUGAR Y HORARIO DE PRESTACIÓN DEL SERVICIO.-
                </u></strong><br /><br>
            <div class="col-md-12">
                El/la CONSULTOR (A) realizará la consultoría objeto del presente contrato en las oficinas del
                Instituto
                Nacional de Estadística o en el lugar señalado en los Términos de Referencia. <br>
                El/la CONSULTOR (A) se obliga a prestar sus servicios con carácter de exclusividad y a tiempo
                completo,
                debiendo cumplir con el horario de trabajo que actualmente se aplica en el INE (horario discontinuo
                de lunes a
                viernes de horas 8:30 a 12:30 y de 14:30 a 18:30), registrando ingresos y salidas, bajo la
                aplicación de las
                sanciones establecidas en el Reglamento Interno de Personal de la entidad para el caso pertinente.
                Los
                horarios de la jornada de trabajo podrán variar en atención a las disposiciones emitidas por las
                autoridades
                competentes.<br>
                En cualquier momento de la ejecución del presente contrato, el INE podrá establecer que el trabajo
                sea
                realizado a través de la modalidad de Teletrabajo, conforme a lo previsto por el Decreto Supremo
                4218 de 14
                de abril de 2020 y los términos de referencia sobre los cuales se realizó la presente contratación a
                cuyo efecto
                ambas partes suscribirán la adenda correspondiente.
                <br /><br />
            </div>
        </div>
        <div class="row">
            <strong><u>NOVENA: DEL MONTO Y FORMA DE PAGO.-
                </u></strong><br /><br>
            <div class="col-md-12">
                El/la CONSULTOR (A) por sus servicios recibirá una remuneración mensual de Bs <%= sueldo %> ( <%=
                        montoNumero %> 00/100 BOLIVIANOS) <br><br>
                        El monto convenido será cancelado mensualmente en función a los días efectivamente trabajados
                        dentro
                        el
                        mes, así como tomando en cuenta la efectiva prestación de los servicios y realización de las
                        tareas
                        establecidas y presentación de los informes o productos establecidos en los términos de
                        referencia,
                        previa
                        conformidad del/los supervisor/es. <br><br>
                        El monto convenido incluye toda remuneración, emolumentos, cargas, obligaciones y gastos
                        asociados
                        con
                        los servicios del/de la CONSULTOR (A) así como cualquier obligación inherente a tales pagos.
                        <br><br>
                        El/la CONSULTOR (A) no gozará de beneficios sociales por determinación de la propia ley.
                        Asimismo se
                        pone

            </div>
        </div>
        <!-- FIN TERCERA PAGINA -->
        <!--  CUARTA PAGINA -->
        <div class="row">
            <div class="row">
                <div class="col-md-12">

                    de manifiesto que el presente contrato no generará derecho a aguinaldo u otro pago adicional
                    distinto de sus honorarios, salvo la emisión de disposición legal en contrario.

                    <br /><br />
                </div>
            </div>


            <strong><u>DECIMA: APORTES AL SISTEMA INTEGRAL DE PENSIONES.-
                </u></strong><br /><br>
            <div class="col-md-12">
                El/la CONSULTOR (A) se obliga a presentar el comprobante de pago de contribuciones al Sistema
                Integral de
                Pensiones (SIP) conforme lo regulado en el art. 8 del Reglamento de Desarrollo Parcial a la Ley
                Nº065
                aprobado por el Decreto Supremo Nº0778 de 26 de enero de 2011, para que se efectúen sus pagos
                mensuales.
                <br /><br />
            </div>
        </div>
        <div class="row">
            <strong><u>DÉCIMA PRIMERA: ESTIPULACIONES SOBRE IMPUESTOS y FACTURACIÓN.-
                </u></strong><br /><br>
            <div class="col-md-12">
                Correrá por cuenta del/de la CONSULTOR (A), en el marco de la relación contractual, el pago de todos
                los
                impuestos vigentes en el país a la fecha de suscripción del presente contrato. <br><br>
                En caso de que posteriormente, mediante disposición legal expresa, el Estado Plurinacional de
                Bolivia,
                implantara impuestos adicionales, disminuyera o incrementara los vigentes, el/la CONSULTOR (A)
                deberá
                acogerse a su cumplimiento desde la fecha de vigencia de dicha normativa. <br><br>
                Para que se efectúe el pago, el/la CONSULTOR (A) deberá presentar los descargos impositivos
                correspondientes, o la respectiva factura oficial por el monto del pago a favor de la ENTIDAD, caso
                contrario
                la ENTIDAD deberá retener los montos de obligaciones tributarias pendientes, para su posterior pago
                al
                Servicio de Impuestos Nacionales.
                <br /><br />
            </div>
        </div>
        <div class="row">
            <strong><u>DÉCIMA SEGUNDA: SUPERVISIÓN.-
                </u></strong><br /><br>
            <div class="col-md-12">
                El/la CONSULTOR (A) recibirá supervisión directa del personal de la entidad específicamente
                mencionado en
                los Términos de Referencia de la Contratación con las siguientes funciones: <br><br>
                <div style="margin-left: 15px;">
                    a) Supervisar y efectuar seguimiento al servicio de CONSULTORÍA. <br>
                    b) Hacer cumplir los términos de referencia u otras especificaciones o instrucciones realizadas
                    el/al
                    CONSULTOR (A).<br>
                    c) Emitir conformidad en el formulario INE/DAS/USA-06 para el pago mensual del CONSULTOR. <br>
                    d) Autorizar permisos/licencias mediante papeleta de salida en casos excepcionales al CONSULTOR
                    (A), por un (1) día como máximo dentro del mes (con goce de haberes) y con la obligación de
                    reponer
                    las horas solicitadas dentro del mes o siguiente si fuera fecha final de mes. Cualquier
                    permiso/licencia
                    por tiempos mayores al señalado, estarán sujetos a autorización (sin goce de haberes) previa
                    justificación. <br>
                    e) Calificar las causas de fuerza mayor y/o caso fortuito que pudiera tener consecuencia sobre
                    la
                    ejecución del contrato, y emitir un informe de constancia de la existencia del impedimento
                    dentro de las
                    24 horas de conocido el hecho. <br>
                    f) Emitir conformidad al informe final presentado por el/la CONSULTOR (A) sobre el cumplimiento
                    de la
                    prestación del servicio de acuerdo a los términos de referencia y del presente contrato. <br>
                    g) Recomendar a la Máxima Autoridad Ejecutiva del INE la aceptación o rechazo de la propuesta de
                    resolución de contrato por mutuo acuerdo.
                </div>
                <br /><br />
            </div>
        </div>
        <div class="row">
            <strong><u>DÉCIMA TERCERA: MODIFICACIONES AL CONTRATO.-
                </u></strong><br /><br>
            <div class="col-md-12">
                La modificación al contrato podrá realizarse hasta un máximo de dos (2) veces, no debiendo exceder
                el plazo
                <br /><br />
            </div>
        </div>
        <!-- FIN CUARTA PAGINA -->
        <!--  QUINTA PAGINA -->
        <div class="row">
            <div class="col-md-12">
                de cada modificación al establecido en el presente contrato, de acuerdo al Artículo 89 del Decreto
                Supremo
                N° 0181.
                <br /><br />
            </div>
        </div>
        <div class="row">
            <strong><u>DÉCIMA CUARTA: CESIÓN.-
                </u></strong><br /><br>
            <div class="col-md-12">
                El/la CONSULTOR (A) no podrá transferir parcial ni totalmente las obligaciones contraídas en el
                presente
                contrato, siendo de su entera responsabilidad la ejecución y cumplimiento de las obligaciones
                establecidas en
                el mismo.
                <br /><br />
            </div>
        </div>
        <div class="row">
            <strong><u>DÉCIMA QUINTA: REMISION A REGLAMENTOS INTERNOS.-
                </u></strong><br /><br>
            <div class="col-md-12">
                Las obligaciones, incompatibilidades, etc., no previstos en el presente contrato, se remiten a lo
                establecido en
                los Reglamentos Internos aprobados del Instituto Nacional de Estadística y sus modificaciones, en lo
                que
                corresponda.
            </div>
            <br /><br /><br />
        </div>
        <div class="row">
            <strong><u>DÉCIMA SEXTA: CONFIDENCIALIDAD.-
                </u></strong><br /><br>
            <div class="col-md-12">
                Los materiales producidos por el/la CONSULTOR (A), así como la información a la que éste/a tuviere
                acceso,
                durante o después de la ejecución del presente contrato, tendrá carácter confidencial, quedando
                expresamente prohibida su divulgación a terceros, exceptuando los casos en que la Entidad emita un
                pronunciamiento escrito estableciendo lo contrario. <br><br />
                Así mismo el/la CONSULTOR (A) reconoce que la ENTIDAD es el único propietario de los productos y
                documentos producidos en la CONSULTORÍA, producto del presente Contrato.
                <br /><br />
            </div>
        </div>
        <div class="row">
            <strong><u>DÉCIMA SÉPTIMA: EXONERACIÓN A LA ENTIDAD DE RESPONSABILIDADES POR DAÑO A
                    TERCEROS.-
                </u></strong><br /><br>
            <div class="col-md-12">
                La ENTIDAD, queda exonerada de cualquier responsabilidad que pudiese generar el CONSULTOR (A) por
                daño con respecto a TERCEROS.
                <br /><br />
            </div>
        </div>
        <div class="row">
            <strong><u>DÉCIMA OCTAVA: DE LA ASIGNACIÓN DE ACTIVOS Y LA RESPONSABILIDAD SOBRE LOS MISMOS.-
                </u></strong><br /><br>
            <div class="col-md-12">
                El INE, para posibilitar al el/la CONSULTOR (A) la realización de sus labores, podrá asignar al
                mismo
                activos
                fijos y equipos acorde a las necesidades inherentes a la consultoría, siendo de responsabilidad
                del/la
                CONSULTOR (A) su debido uso, custodia y salvaguarda de conformidad a las previsiones de la Ley Nº
                1178
                y las NB-SABS, debiendo devolver estos activos a la conclusión de la consultoría o de las labores
                para
                las
                cuales fueron asignados específicamente. <br><br />
                En el caso de activos que deban trasladarse fuera de la institución el/la CONSULTOR (A) deberá
                firmar el
                respectivo compromiso de responsabilidad y garantía al momento de su asignación. <br><br />
                El pago final a efectuarse a favor del/la CONSULTOR (A), sólo podrá ser efectivo luego de la
                devolución
                del
                activo o activos que le hubieran sido entregados en custodia, autorizando expresamente el/la
                CONSULTOR
                (A) a que el importe de dicho pago sea retenido por la ENTIDAD en caso de que no devuelva el bien o
                activo,
                independientemente de las responsabilidades establecidas por ley.
                <br /><br />
            </div>
        </div>
        <div class="row">
            <strong><u>DECIMA NOVENA: SANCIONES POR INCUMPLIMIENTO.-
                </u></strong><br /><br>
            <div class="col-md-12">
                La inobservancia o el incumplimiento total o parcial de las obligaciones expresamente contenidas en
                el
                presente contrato por parte del/la CONSULTOR (A), por acción u omisión comprobada por la vía
                correspondiente, causando perjuicio al contratante, lo hará pasible a las acciones legales que
                correspondan,
                además de asumir la responsabilidad total de los daños y perjuicios ocasionados.
                <br /><br />
            </div>
        </div>
        <!-- FIN QUINTA PAGINA -->
        <!--  SEXTA PAGINA -->
        <div class="row">
            <div class="col-md-12">
                En caso de que el/la CONSULTOR (A), incurriere en algún tipo de incumplimiento contractual, se
                tendrá al
                mismo como impedido de participar en los procesos de contrataciones del Estado, en el marco del
                artículo 43
                del Decreto Supremo Nº 0181 y sus modificaciones.
                <br /><br />
            </div>
        </div>
        <div class="row">
            <strong><u>VIGÉSIMA: DE LA TERMINACIÓN DEL CONTRATO.-
                </u></strong><br /><br>
            <div class="col-md-12">
                El presente contrato concluirá por una de las siguientes modalidades: <br> <br>
                1.- Por Cumplimiento de Contrato.<br> <br>
                Se dará por concluido el presente Contrato, una vez que las partes hayan dado cumplimiento a todas
                las
                condiciones y estipulaciones contenidas en el mismo, lo cual se hará constar por escrito.<br> <br>
                2.- Por Resolución del Contrato <br> <br>
                El CONTRATANTE o el/la CONSULTOR(A) podrán requerir la resolución del presente contrato, sin
                necesidad
                de requerimiento judicial o extrajudicial por los siguientes motivos:<br> <br>
                <strong>2.1. Por causa atribuible al CONSULTOR:
                </strong> <br><br>
                a) Por incumplimiento a una o varias cláusulas establecidas en el presente contrato.<br>
                b) Por incumplimiento a las funciones y condiciones establecidas en los Términos de Referencia. <br>
                c) Por incumplimiento o vulneración al ordenamiento jurídico vigente, normativa interna de la
                entidad y demás
                normas administrativas relacionadas a sus funciones. <br>
                d) Por suspensión en la prestación del servicio o ejecución de sus actividades, sin justificación o
                motivo válido. <br>
                e) Por asistir a su fuente laboral bajo influencia de bebidas alcohólicas, estupefacientes o
                cualquier sustancia
                que altere o disminuya su capacidad para ejecutar o realizar las actividades asignadas. <br><br>

                <strong>2.2. Por causa atribuible a la ENTIDAD:
                </strong> <br><br>
                a) Si apartándose del objeto del Contrato, la ENTIDAD pretende efectuar modificaciones a los
                términos de
                referencia.<br>
                b) Por incumplimiento en los pagos de acuerdo al plazo estipulado en la cláusula cuarta
                (obligaciones de la
                entidad).<br>
                c) Por instrucciones injustificadas emanadas por la ENTIDAD para la suspensión del servicio por más
                de
                treinta (30) días calendario. <br><br>
                <strong>2.3. Por causa de fuerza mayor o caso fortuito:
                </strong> <br><br>
                Si se presentaran situaciones de fuerza mayor o caso fortuito que imposibiliten la ejecución del
                contrato por
                cualquiera de las partes, se podrá resolver el contrato total o parcialmente, previa justificación
                documentada.<br><br>
                <strong>2.4. Por acuerdo entre partes
                </strong> <br><br>
                Procederá cuando ambas partes otorguen su consentimiento mutuo para finalizar la Relación
                contractual.<br><br>
                <strong>2.5. Por necesidad Institucional.
                </strong> <br>
            </div>
        </div><br>
        <!-- FIN SEXTA PAGINA -->
        <!--  SEPTIMA PAGINA -->
        <div class="row">
            <div class="col-md-12">
                La ENTIDAD se reserva el derecho de resolver unilateralmente el presente contrato de prestación de
                Servicios de Consultoría Individual de Línea por necesidad Institucional, modificación en su
                estructura,
                organización de trabajo u otras inherentes que a su criterio vea por conveniente. Cursando
                únicamente
                una nota de notificación de la resolución a el/la CONTRATADO (A) que señale de manera expresa el
                día de culminación de la relación contractual.
                <br><br>
                <strong>2.6. Procedimiento de Resolución por causas atribuibles a las parte.
                </strong> <br><br>
                De ocurrir una de las causas anteriormente señaladas, la parte afectada deberá notificar a la otra
                su intención
                de resolver el CONTRATO, estableciendo en forma clara y específica la causa en la que se funda, a
                fin de
                que la otra parte responda a la misma en el plazo de 3 (tres) días hábiles, posterior a este plazo,
                la resolución
                del contrato se hará efectiva a través de la comunicación mediante nota formal.
                <br><br>
                <strong>2.7. Procedimiento por fuerza mayor o caso fortuito.
                </strong> <br><br>
                De presentarse una situación de fuerza mayor o caso fortuito, cualquiera de las partes deberá
                notificar a la
                otra su intención de resolver el CONTRATO, estableciendo en forma clara y específica la causa en la
                que se
                funda y presentando documentación de respaldo. <br><br>
                La primera notificación de intención de resolución de CONTRATO, deberá ser cursada en un plazo de
                cinco
                (5) días hábiles posteriores al hecho generador de la resolución del contrato, especificando la
                causal de
                fuerza mayor o caso fortuito, que deberá ser efectuada mediante carta dirigida a la ENTIDAD o el/la
                CONSULTOR (A) según corresponda.<br><br>
                Si la causal argumentada es subsanada. No persigue la resolución. Empero, si no existe solución a la
                conclusión en el plazo de tres (3) días hábiles, se debe cursar una segunda carta comunicando que la
                resolución se ha hecho efectiva.
                <br><br>
                <strong>2.8. Procedimiento de Resolución por acuerdo entre partes.
                </strong> <br><br>
                Para la suscripción de la resolución, el supervisor o inmediato superior mediante informe, deberá
                recomendar
                a la Máxima Autoridad Ejecutiva de la entidad la procedencia o no de la resolución de contrato,
                previa
                verificación de la no existencia de perjuicio en las actividades de la Unidad solicitante del
                servicio.<br><br>
                Para efectivizar la resolución por mutuo acuerdo, ambas partes deberán suscribir un documento de
                Resolución de Contrato, el cual deberá contener la siguiente información: partes suscribientes,
                antecedentes,
                alcances de la Resolución, y conformidad de las partes. <br><br>
                Cuando se efectué la resolución del contrato para todas las modalidades mencionadas precedentemente,
                se
                procederá a una liquidación de saldos deudores y acreedores de ambas partes, efectuándose los pagos
                a que
                hubiere lugar, conforme la evaluación del grado de cumplimiento de los términos de referencia.
                <br><br>
                <div class="row">
                    <strong><u>VIGÉSIMA PRIMERA: SOLUCIÓN DE CONTROVERSIAS. -
                        </u></strong><br /><br>
                    <div class="col-md-12">
                        En caso de surgir controversias sobre los derechos y obligaciones de las partes durante la
                        ejecución del
                        presente contrato, las mismas estarán facultadas para acudir a la vía legal que corresponda.
                        <br /><br />
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="row">
                    <strong><u>VIGÉSIMA SEGUNDA: CONFORMIDAD.-
                        </u></strong><br /><br>
                </div>
            </div>
        </div>
        <!-- FIN SEPTIMA PAGINA -->
        <!--  OCTAVA PAGINA -->
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        Nosotros: HUMBERTO MARIO ARANDIA CLAURE, Director General Ejecutivo del Instituto Nacional
                        de
                        Estadística, por una parte, y jesus lopez lopez en calidad de CONSULTOR (A) por otra,
                        declaramos plena
                        conformidad con el contenido de las cláusulas precedentes y nos comprometemos a su fiel y
                        estricto
                        cumplimiento, firmando en constancia el presente contrato en tres ejemplares de igual
                        contenido y para el
                        mismo efecto.
                        <br /><br />

                        <div style="text-align: center;">
                            <strong>La Paz, <%= fechaInicio %> </strong>
                        </div> <br /><br /> <br /><br /><br /><br />

                   <!--      <div class="row">
                            <div class="col-md-5">
                                <strong>HUMBERTO MARIO ARANDIA CLAURE </strong><br>
                                DIRECTOR GENERAL EJECUTIVO - INE
                            </div>
                            <div class="col-md-5" style="margin-left: 145px;">
                                <strong>
                                    <%= nombres %>
                                        <%= apellido_paterno %>
                                            <%= apellido_materno %>
                                </strong><br>
                                <p style="text-align: center;">CONSULTOR(A)</p>
                            </div>
                        </div> -->

                        <div id="firmas" class="d-flex justify-content-center">
                            <div class="col-md-5">
                                <strong>HUMBERTO MARIO ARANDIA CLAURE </strong><br>
                                DIRECTOR GENERAL EJECUTIVO - INE
                            </div>
                            <div class="col-md-5" style="margin-left: 145px;">
                                <strong>
                                    <%= nombres %>
                                        <%= apellido_paterno %>
                                            <%= apellido_materno %>
                                </strong><br>
                                <p style="text-align: center;">CONSULTOR(A)</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- FIN OCTAVA PAGINA -->
    </div>
    <div id="pageHeader">
        <img src="data:image/jpeg;base64, <%= data %>" style="margin-left: 220px !important;"
            class="rounded mx-auto d-block" id='base64image' width="230px">
        <div class="d-flex align-items-end flex-column" style="height: 50px;">
            <div class="p-2">
                <img src="data:image/png;base64, <%= cleanQr %>" class="rounded mx-auto d-block" id='base64image'
                    width="70px">
                <div class="p-2"
                    style="margin-top: 3px; border-style: solid; border-color: black; border-width: 1px; padding: 2px 2px 2px 2px !important;">
                    INE/AL/Nº58/2021</div>
            </div>
        </div>
    </div>

</body>

</html>