<style>
    .titulo {
        font-size: 18px;
    }

    .text-center {
        text-align: center;
    }

    .contenido {
        width: 20%;
        border: solid 1px;
        color: blue;
        display: inline
    }

    .width-permiso {
        font-size: 9px;
    }

    html,
    body {
        margin: 0;
        padding: 0;
        font-family: 'Sackers Gothic Std';
        font-weight: 500;
        font-size: 7px;
        -webkit-print-color-adjust: exact;
    }


    @media print {
        body {}

        .page {
            margin: 0;
            height: 100%;
            width: 100%;
        }
    }

    .page.first {
        border-left: 5px solid green;
    }

    .group {
        margin-top: 3mm;
    }

    .text-center {
        text-align: center;
    }

    .logo {
        position: relative;
        width: 80%;
        left: 10%;
        top: 15%;
    }

    thead {
        background: #dfe8f1
    }

    table {
        margin-top: 4px;
        border-radius: 2px;
        border-collapse: collapse;
        width: 100%;
        max-width: 100%;
        display: table;
        border-spacing: 0.5px;
    }

    thead tr {
      /*  height: 7px*/
    }

    thead th {
      /*  font-size: 4px;*/
    }

    tbody td {
       /* font-size: 4px;*/
    }
</style>



<table>
    <tbody>
        <tr>
            <td>&nbsp;</td>
        </tr>

        <tr>
            <td style="text-align: center;">
                <h2>INSTITUTO NACIONAL DE ESTADISTICA<br> <%= tituloReporte %></h2>
            </td>
        </tr>

        <tr>
            <td style="text-align: left;">
                <b>REFERENCIA:</b>&nbsp;&nbsp;&nbsp; <%= convocatoria.referencia %>
            </td>
        </tr>
        <tr>
            <td style="text-align: left;">
                <b>CARGO:</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <%= convocatoria.puesto_cargo %>
            </td>
        </tr>
        <tr>
            <td>&nbsp;</td>
        </tr>
    </tbody>
</table>
<table cellpadding="2" style="text-align: left; border: 1">
    <tr style="background-color:#E5E6E8; text-align: center; font-size: 12px;">
        <% if (listaPostulantes.length > 0) {%>
        <td><b>Nro</b></td>
        <td><b>NOMBRES Y APELLIDOS</b></td>
        <td><b>CEDULA DE IDENTIDAD</b></td>
        <td><b>FECHA POSTULACION</b></td>
        <td><b>HORA POSTULACION</b></td>
    </tr>
    <% } else{ %>
        <td><b>NO SE PRESENTO NINGUN POSTULANTE</b></td>
    </tr>
    <% } %> 
    <% listaPostulantes.forEach((postulante, index) => {%>
    <tr style="font-size: 12px;">
        <td class="text-center"><%= index + 1 %></td>
        <td><%= postulante.o_postulante %></td>
        <td><%= postulante.o_carnet %></td>
        <td>12/03/2021</td>
        <td>15:20</td>
    </tr>
    <% }) %> 
</table>


<div id="pageHeader">
    <table style="width: 100%;">
        <tr>
            <td style="text-align: left; padding-left: -15px; width: 80px;">
               
            </td>
         <h2>INSTITUTO NACIONAL DE ESTADISTICA</h2>
        </tr>
    </table>

</div>







<!-- altura  -->